<form enctype="multipart/form-data" method="post">
    {% csrf_token %}
    {% for campo in formulario %}
      <div class="mb-3">
        <label for="" class="form-label">{{ campo.label }}:</label>
  
        {% if campo.field.widget.input_type == 'file' and campo.value %}
        <br>
        <img src="{{MEDIA_URL}}/imagenes/{{campo.value}}" width="100" alt="">
        {% endif %}


        {% if campo.name == 'status' %}
        <br>
        <select class="form-control form-select" name="{{ campo.name }}" id="">
          <option value="">--Seleccina un estado--</option>
          <option value="0" {% if campo.value == 0 %} selected {% endif %} >Disponible</option>
          <option value="1" {% if campo.value == 1 %} selected {% endif %} >Con prestamo</option>
          <option value="2" {% if campo.value == 2 %} selected {% endif %} >Suspendido</option>
        </select>
        {%else%}
        <input type="{{ campo.field.widget.input_type }}" class="form-control" name="{{ campo.name }}" 
          id="" aria-describedby="helpId" placeholder="{{ campo.label }}" value="{{ campo.value | default:'' }}">
        {% endif %}
      </div>
      <div class="col-12 help-text">{{ campo.errors }}</div>
    {% endfor %}
    <input name="" id="" class="btn btn-success" type="submit" value="Enviar">
    <a name="" id="" class="btn btn-primary" href="{% url 'docentes' %}" role="button">Cancelar</a>
  </form>