{% extends "base.html" %}

{% block contenido %}

    <div class="container-xl px-4 mt-4">
        <!-- Account page navigation-->
        <nav class="nav nav-borders">
            <a class="nav-link" href="#">Editar información</a>
            <a class="nav-link" href="#">Cambiar contraseña</a>
        </nav>
        <hr class="mt-0 mb-4">
        <div class="row">
            <div class="col-xl-8">
                <!-- Account details card-->
                <div class="card mb-4">
                    <div class="card-header">Datos del Usuario</div>
                    <div class="card-body">
                        <div class="mb-3">
                            <label class="small mb-1" for="inputUsername">Nombre de usuario</label>
                            <input class="form-control" type="text" placeholder="{{usuario.username}}" disabled>
                        </div>
                        <div class="row gx-3 mb-3">
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputFirstName">Nombre</label>
                                <input class="form-control" id="inputFirstName" type="text" placeholder="{{usuario.first_name}}" disabled>
                            </div>
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputLastName">Apellido</label>
                                <input class="form-control" id="inputLastName" type="text" placeholder="{{usuario.last_name}}" disabled>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="small mb-1" for="inputEmailAddress">Correo</label>
                            <input class="form-control" id="inputEmailAddress" type="email" placeholder="{{usuario.email}}" disabled>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}